.navbar {
  width: 70vw;
  font-size: 3rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  background-color: rgba(228, 19, 19, 0.76);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  border: 1px solid gray;
  font-size: 20px;
  border-radius: 5px;
}

.loading {
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

.search {
  padding: 9px;
  font-size: 20px;
  border: 1px solid rgb(253, 253, 253);
}