
.superContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {

  flex-direction: column;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.descriptionPoke{
  display: flex;
}

.height, .weight, .experience, .hability{
    border: 1px solid rgb(78, 74, 74);
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    padding: 8px;
}

.link{
    display: flex;
    background-color: #4CAF50;
    color: white;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}

.type{
    justify-content: center;
    display: flex;
    padding: 20px;
}

.namePoke {
  font-size: 40px;
  text-transform: capitalize;
}
.cardPokemon {

  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin: 3px;
  box-shadow: 5px 4px 8px 6px rgba(124, 123, 123, 0.11);
  border-radius: 8px;

}

.descriptionPoke{
  display: flex;
  flex-direction: column;
}

img {
  margin-right: 10%;
  width: 50%;
}